:root{
    --grayLight: #585d66;
}
.contacto-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto-box{
    width: 80%;
    height: auto;
    background-color: var(--gray);
    margin: 10%;
    border-radius: 15px;
    box-shadow: var(--grayLight) 1px 0 10px; 
    display: flex;
    flex-direction: row;
}
.contacto-div{
    width: 50%;
    height: auto;
    padding: 15px;
}
/* ESTILO DE LA LISTA DE LINKS CON ICONOS */
.contacto-ul{
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px;
}
.contacto-li{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.contacto-link{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.contacto-icon{
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: var(--gray);
    color: var(--blue);
    border-radius: 50%;
    padding: 3px;
}
.contacto-user{
    font-size: 18px;
    font-weight: 200;
    color: whitesmoke;
    margin-left: 10px;
}
.contacto-link:hover :nth-child(1){
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--gray);
    transition: .3s;
}
.contacto-link:hover :nth-child(2){
    color: var(--blue);
}
/* ESTILOS DEL FORMULARIO */
.contacto-row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.contacto-column{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.contacto-ex{
    width: 100%;
}
.contacto-input{
    border-radius: 15px;
    border: none;
    padding: 10px;
    display: block;
    margin: 0px 10px 20px;
    text-shadow: var(--black) 1px 0 10px; 
}
.contacto-txt{
    margin: 0px 10px 20px;
    color: var(--yellow);
    font-size: 20px;
    font-weight: 200;
}
.contacto-title{
    font-size: 50px;
    font-weight: 800;
    color: var(--red);
    text-shadow: var(--black) 1px 0 10px; 
    margin: 30px 10px 20px;
}
.contacto-msj{
    font-size: 20px;
    text-shadow: var(--black) 1px 0 10px; 
    font-weight: 900;
}
.contacto-button{
    text-decoration: none;
    background-color: var(--blue);
    color: var(--black);
    font-size: 25px;
    font-weight: 800;
    border-radius: 15px;
    padding: 8px;
    border: none;
}
.contacto-button:hover{
    background-color: var(--yellow);
    transition: .3s;
    cursor: pointer;
}

@media (max-width: 900px){
    .contacto-box{
        background-color: var(--black);
        box-shadow: none;
        width: 100%;
        height: auto;
        margin: 0;
        flex-direction: column;
    }
    .contacto-div{
        width: 100%;
        height: auto;
    }
    .contacto-ul{
        width: 100%;
        height: auto;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .contacto-divide{
        width: 50%;
        height: auto;
    }
    .contacto-txt{
        width: 70%;
    }

    /* FORMULARIO */
    .contacto-column{
        width: 48%;
        height: auto;
    }
    .contacto-row, .contacto-ex{
        width: 100%;
        height: auto;
    }
    .contacto-input{
        width: 95%;
        height: auto;
    }
    .contacto-button{
        width: 100px;
    }
}
@media (max-width: 560px){
    /* CONTACTO */
    .contacto-ul{
        flex-direction: column;
    }
    .contacto-divide{
        width: 100%;
        height: auto;
    }
    .contacto-txt{
        width: 90%;
    }
    /* FORMULARIO */
    .contacto-row{
        flex-direction: column;
    }
    .contacto-column{
        width: 100%;
    }
    .contacto-button{
        width: 100px;
    }
}
