footer{
    width: 100%;
    height: auto;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-box{
    padding: 0.5rem;
}
.footer-list{
   margin: 20px 0px 0px 20px;
   list-style: none;
}
.footer-link{
   color: var(--red);
   font-size: 1.2rem;
   text-shadow: none;
}
.footer-icon{
    font-size: 40px;
    margin: 0%;
    padding: 8px;
    background-color: var(--black);
    color: var(--blue);
    border-radius: 50%;
}
.footer-icon:hover{
    cursor: pointer;
    background-color: var(--blue);
    color: var(--yellow);
}
.footer-txt{
    font-weight: 900;
    color: var(--black);
    padding: 1rem;
}
