:root{
    --grayLight: #585d66;
}
.four-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.four-box{
    width: 80%;
    height: auto;
    background-color: var(--gray);
    margin: 10%;
    border-radius: 15px;
    box-shadow: var(--grayLight) 1px 0 10px; 
    display: flex;
    flex-direction: row;
}
.four-div{
    width: 50%;
    height: auto;
    padding: 15px;
}
/* ESTILO DE LA LISTA DE LINKS CON ICONOS */
.four-ul{
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px;
}
.four-li{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.four-link{
    display: flex;
    align-items: center;
}
.four-icon{
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
    background-color: var(--gray);
    color: var(--blue);
    border-radius: 50%;
    padding: 3px;
}
.four-user{
    font-size: 16px;
    font-weight: 200;
    color: whitesmoke;
    margin-left: 10px;
}
.four-link:hover :nth-child(1){
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--gray);
}
.four-link:hover :nth-child(2){
    color: var(--blue);
}
/* ESTILOS DEL FORMULARIO */
.four-row{
    display: flex;
    flex-direction: row;
}
.four-column{
    display: flex;
    flex-direction: column;
}
.four-input{
    width: 15vw;
    height: auto;
    border-radius: 3px;
    border: none;
    padding: 2px;
    display: block;
    margin: 0px 20px 20px;
    text-shadow: var(--black) 1px 0 10px; 
 }
.input-msj{
    width: 15vw;
    height: 15vh;
}
.four-txt{
    margin: 0px 20px 20px;
    color: var(--yellow);
    font-weight: 200;
}
.four-title{
    font-size: 50px;
    font-weight: 800;
    color: var(--red);
    text-shadow: var(--black) 1px 0 10px; 
    margin: 30px 20px 20px;
}
.four-msj{
    font-size: 20px;
    text-shadow: var(--black) 1px 0 10px; 
    font-weight: 900;
}
.four-button{
    text-decoration: none;
    background-color: var(--blue);
    color: var(--black);
    font-size: 25px;
    font-weight: 800;
    border-radius: 15px;
    padding: 5px;
    border: none;
}
.four-button:hover{
    background-color: var(--yellow);
    cursor: pointer;
}