*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --gray: #2e2c2a;
    --red: #bf2600;
    --yellow: #cdae00;
    --black: #080b11;
    --blue: #24449b;
    --redDark:  rgba(107, 14, 0, 0.555);
}
body{
    background-color: var(--black);
    height: 100vh;
    font-family: 'Patua One', cursive;
}
.header-container{
    background-color: var(--red);
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 65px 0px var(--redDark);
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 1rem 2rem;
}
.header-ul{
    float: right;
    margin-right: 20px;
}
.header-li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.header-a{
    color: var(--yellow);
    font-size: 25px;
    font-weight: 800;
    text-shadow: var(--gray) 1px 0 10px; 
    padding: 7px 13px;
    border-radius: 15px;
    text-transform: uppercase;
}
.back-color{
    background-color: var(--blue);
    color: var(--black);
    text-shadow: none; 
}
.header-a:hover{
    color: var(--black);
    transition: .3s;
}
.back-color:hover{
    background-color: var(--yellow);
}
.checkbtn{
    font-size: 40px;
    color: var(--red);
    float: right;
    line-height: 80px;
    margin-right:  8px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 950px){
    .header-container{
        background-color: var(--black);
        box-shadow: none;
        padding: 0rem 1rem;
    }
    .header-a{
        font-size: 20px;
        font-weight: 500;
    }
    .checkbtn{
        display: block;
    }
    .header-ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--black);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .header-li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .header-a:hover{
        color: var(--red);
        transition: .3s;
    }
    .back-color:hover{
        background-color: var(--yellow);
        color: var(--black);
    }
    #check:checked ~ .header-ul{
        left: 0;
    }
}