.one-container{
    width: 100%;
    height: auto;
    color: honeydew;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 120px 0px 100px;
}
.one-box{
    width: 40vw;
    height: auto;
}
.one-figure{
    margin-top: 80px;
}
.one-img{
    width: 40vw;
    border-radius: 50%;
}
.one-txt{
    font-size: 20px;
    margin: 0px 5px 35px;
}
.red{
    margin: 0;
    font-size: 35px;
    color: var(--red);
}
.yellow{
    margin: 0;
    font-size: 60px;
    color: var(--yellow);
}
.button{
    text-decoration: none;
    background-color: var(--blue);
    color: var(--black);
    font-size: 25px;
    font-weight: 800;
    border-radius: 15px;
    padding: 5px;
}
.button:hover{
    background-color: var(--yellow);
    transition: .3s;
}
@media (max-width: 900px){
    .one-container{
        flex-direction: column;
        text-align: center;
    }
    .one-box{
        width: 100vw;
    }
    .one-img{
        width: 80vw;
    }
  }