.three-boxes{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.three-div{
    width: 32vw;
    height: auto;
    background-color: var(--blue);
    color: var(--black);
    font-weight: 800;
    margin: 6px;
    text-align: center;
    border-radius: 15px;
}
.three-div:hover{
    box-shadow: var(--black) 1px 0 10px; 
    cursor: pointer;
}
.three-img{
    margin-top: 30px;
    width: 30vw;
    height: auto;
    border-radius: 15px;
}
.three-link{
    text-decoration: none;
    color: var(--black);
}
.three-link:hover{
    color: var(--gray);
}
@media (max-width: 900px){
    .three-div{
        width: 40vw;
    }
}
