:root{
    --blueElectric: rgb(2, 2, 131);
    --sky: rgb(135, 206, 235);
    --orange: rgb(255, 69, 0);
}
.two-container{
    width: 100%;
    background-color: var(--gray);
    border-radius: 15px;
    height: auto;
    color: var(--yellow);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}
.two-box{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.two-title{
    margin: 100px 0px 50px;
    color: var(--red);
    text-shadow: #080b11 1px 0 10px; 
    font-weight: 800;
    font-size: 50px;
}
.two-txt{
    text-align: center;
    width: 60%;
    height: auto;
}
.two-boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.two-div{
    width: 45%;
    height: auto;
    background-color: var(--blue);
    color: var(--black);
    font-weight: 800;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
}
.two-div:hover{
    box-shadow: var(--black) 1px 0 10px; 
    color: var(--gray);
    cursor: pointer;
}
.iconify{
    margin-top: 35px;
    font-size: 90px;
    background-color: transparent;
}
.two-name{
    font-size: x-large;
    font-weight: 900;
    padding: 30px 30px;
}
.orange{
    color: var(--orange);
}
.blue{
    color: var(--blueElectric);
}
.sky{
    color: var(--sky);
}
@media (max-width: 500px){
    .two-title{
        font-size: 35px;
    }
    .two-txt{
        text-align: center;
        width: 80%;
        height: auto;
    }
}
@media (max-width: 400px){
    .two-div{
        width: 100%;
    }
    .two-title{
        font-size: 30px;
    }
}